.lost-cities-viewer {
    position: relative;

    background-color: #DED7C8;
    width: 80em;
    height: 60em;

    font-family: sans-serif;
    overflow: hidden;

    .deck-count {
        position: absolute;
        font-size: 2.5em;
        width: 4em;
        height: 2em;
        line-height: 2em;
        left: 2em;
        top: 11em;
        text-align: center;
        z-index: 1;
    }

    .card {
        user-select: none;
        position: absolute;
        width: 5.8em;
        height: 8.8em;
        border-radius: 0.25em;
        transform-origin: center center;
        background-color: white;
        border: 1px solid rgba(0,0,0,0.25);
        box-shadow: rgba(0, 0, 0, 0.25) 0 0 16px;

        transition: transform 0.25s ease-in-out;

        .label {
            position: absolute;
            display: inline-block;
            border-radius: 0.125em;
            border: 1px solid rgba(0,0,0,0.25);
            background-color: rgba(255,255,255,0.25);
            font-size: 1.5em;
            top: 0.25em;
            left: 0.25em;
            right: 0.25em;
            text-align: center;
        }

        .symbol {
            position: absolute;
            font-size: 3em;
            top: 1em;
            left: 0.25em;
            right: 0.25em;
            text-align: center;
        }
    }

    .card.face-down {
        background-color: grey !important;
        
        .label {
            display: none;
        }

        .symbol {
            display: none;
        }
    }

    .card.hidden {
        display: none;
    }
    
    .card.red {
        background-color: #C74326;
        color: white;
    }

    .card.green {
        background-color: #48B52A;
        color: white;
    }

    .card.blue {
        background-color: #3D5EE6;
        color: white;
    }

    .card.white {
        background-color: #ddd;
        color: black;
    }

    .card.yellow {
        background-color: #E6DE21;
        color: black;
    }

    .card.purple {
        background-color: #B031C7;
        color: white;
    }
}

