.lost-cities-viewer {
    position: relative;

    background-color: #DED7C8;
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: sans-serif;

    .hand {
        position: absolute;
        width: 0;
        height: 10em;
        left: 50%;
        right: 50%;
    }

    .player1 {
        bottom: 0;
    }

    .player2 {
        top: 0;
        transform: rotate(180deg);
    }

    .card {
        user-select: none;
        position: absolute;
        width: 5.8em;
        height: 8.8em;
        border-radius: 0.25em;
        transform-origin: center center;
        background-color: white;
        border: 1px solid rgba(0,0,0,0.25);
        box-shadow: rgba(0, 0, 0, 0.25) 0 0 16px;

        transition: all 0.25s ease-in-out;

        .label {
            position: absolute;
            display: inline-block;
            border-radius: 0.125em;
            border: 1px solid rgba(0,0,0,0.25);
            background-color: rgba(255,255,255,0.25);
            font-size: 3em;
            top: 0.25em;
            left: 0.25em;
            right: 0.25em;
            text-align: center;
        }

        .symbol {
            position: absolute;
            font-size: 3em;
            bottom: 0.25em;
            left: 0.25em;
            right: 0.25em;
            text-align: center;
        }
    }
    
    .card.red {
        background-color: #C74326;
        color: white;
    }

    .card.green {
        background-color: #48B52A;
        color: white;
    }

    .card.blue {
        background-color: #3D5EE6;
        color: white;
    }

    .card.white {
        background-color: #ddd;
        color: black;
    }

    .card.yellow {
        background-color: #E6DE21;
        color: black;
    }

    .card.purple {
        background-color: #B031C7;
        color: white;
    }
}

